* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
}

div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark {
  background-color: black;
  color: white;
}
